#============================================================================
#  Network service to allow authorized clients.
#============================================================================
service {
    #------------------------------------------------------------------------
    #  A line like the following can be used to bind to a specific IP
    #  address instead of the wildcard.
    #------------------------------------------------------------------------
    addresses = [ { address = "inaddr_any"; port = 2125; },
                  { address = "in6addr_any"; port = 2125; } ];

    #------------------------------------------------------------------------
    #  Location of credence public key file (id_ed25519.pub), private key
    #  file (id_ed25519) and allowed client public keys file (known_keys).
    #------------------------------------------------------------------------
    keyDirectory = "/usr/local/etc/mctallyd";
    
    #------------------------------------------------------------------------
    #  Access can be restricted to clients within given address ranges.
    #------------------------------------------------------------------------
    allowedClients = [
      "192.168.168/24", "127.0.0.1/32", "fd60:3019:f4a:6aaf::0/64"
    ];
};

#============================================================================
#  syslog configuration.
#============================================================================
syslog {
    #------------------------------------------------------------------------
    #  Syslog facility.  Defaults to "daemon" if not set.
    #------------------------------------------------------------------------
    facility = "local0";
    
    #------------------------------------------------------------------------
    #  Minimum syslog priority to log.  Defaults to "info" if not set.
    #------------------------------------------------------------------------
    level = "debug";

    #------------------------------------------------------------------------
    #  Set to "yes" to get {filename:line} in syslog.
    #------------------------------------------------------------------------
    logLocations = "yes";
};

